<a href="https://colab.research.google.com/github/GuilhermeHachimine/Collab/blob/main/pd_df_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dict = {"a":3,"b":'cat',"c":25}
pd.Series(dict)

a      3
b    cat
c     25
dtype: object

# Nova seção

In [ ]:
oneD = pd.Series([100,'cat',310,'gog',500],["Amy","Bobby","Cat","Don","Emma"])
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [ ]:
oneD = pd.Series([100,'cat',310,'gog',500],index=["Amy","Bobby","Cat","Don","Emma"])
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [ ]:
oneD.loc[["Cat","Emma"]]

Cat     310
Emma    500
dtype: object

In [ ]:
oneD.iloc[1]

'cat'

In [ ]:
'cat' in oneD

False

In [ ]:
'Cat' in oneD

True

In [ ]:
d = {"A":pd.Series([100.,200.,300.],index=["Maça","Pera","Laranja"]),
     "B":pd.Series([111.,222.,333.,444.],index = {"Maça","Pera","Laranja","Melão"})}

In [ ]:
df = pd.DataFrame(d)
print(df)

             A      B
Laranja  300.0  222.0
Maça     100.0  333.0
Melão      NaN  111.0
Pera     200.0  444.0

In [ ]:
print(type(df))

In [ ]:
df.index

Index(['Laranja', 'Maça', 'Melão', 'Pera'], dtype='object')

In [ ]:
df.columns

Index(['A', 'B'], dtype='object')

In [ ]:
pd.DataFrame(df,index=["Laranja","Melão","Maça"],columns=['A'])

             A
Laranja  300.0
Melão      NaN
Maça     100.0