<a href="https://colab.research.google.com/github/GuilhermeHachimine/Collab/blob/main/series_func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from pandas import read_csv
series = read_csv('female_birth.csv', header=0, parse_dates=[0], index_col=0, squeeze=True)
print(type(series))

<class 'pandas.core.series.Series'>

In [5]:
print(series.head())

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
Name: Daily total female births in California, 1959, dtype: int64

In [6]:
print(series.size)

366

In [8]:
print(series.describe())

count     366.000000
mean       47.218579
std       100.472534
min        23.000000
25%        37.000000
50%        42.000000
75%        46.000000
max      1959.000000
Name: Daily total female births in California, 1959, dtype: float64